.chat-input-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 13px;
    padding: 0 20px;

    box-sizing: border-box;

    position: relative;
    display: flex;
}

.chat-input:focus + .send-btn {
    box-shadow:
        -5px 0 10px rgba(25, 135, 84, 0.3),
        -10px 0 25px rgba(25, 135, 84, 0.2),
        -20px 0 40px rgba(25, 135, 84, 0.15);
}

.chat-input {
    padding: 12px 55px 12px 15px;
    border-radius: 15px;
    border: 1px solid rgb(63, 63, 63);
    font-size: 15px;
    flex-grow: 1;
    background-color: rgb(34, 34, 34);
    color: rgb(230, 230, 230);
    box-sizing: border-box;
    transition: border-color 0.25s ease;
}

.chat-input:focus {
    outline: none;
    border-color: rgb(25, 135, 84);
}

.chat-input:disabled::placeholder {
    opacity: 0.5;
}

.ai-mistakes-message {
    color: rgb(124, 124, 124);
    font-size: 15px;
    text-align: center;
    margin-top: 0px;
}

.send-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(25, 135, 84);
    padding: 0 10px;
    border: none;
    border-left: 1px solid rgb(63, 63, 63);
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: box-shadow 0.25s ease;
}

.send-stop-btn {
    font-size: 25px;
    color: white;
}