.welcome-message {
    text-align: center;
    color: rgb(120, 120, 120);
}

.chat-message-user {
    display: flex;
    justify-content: end;
    align-items: start;
}

.chat-message-bot {
    display: flex;
    align-items: start;
}

.chat-loading-circle {
    width: 50px;
}

.chat-message-text {
    background-color: rgb(34, 34, 34);
    color: rgb(230, 230, 230);
    padding: 15px 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    max-width: 500px;

    overflow-wrap: break-word;
    min-width: 0;
}

.chat-message-text pre {
    white-space: pre-wrap;
    overflow-x: auto;
    max-width: 100%;
}

.chat-message-text table {
  display: block;
  overflow-x: auto;
}

.chat-message-text pre code {
    border-radius: 10px;
}

.chat-message-profile {
    width: 45px;
}

